* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #00509d;
  --primary: #ffd500;
  --secondary: #00296b;
}
.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--background);
}

h1 {
  text-align: center;
  padding: 10px 0px;
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0px;
  }
}

/* - - -  HEADER  - - - */

header {
  padding: 20px 40px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  header {
    flex-direction: column-reverse;
  }

  header .form {
    width: 100%;
  }
}

form input[type="text"] {
  padding: 10px;
  width: 60%;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: var(--background);
  color: var(--white);
  font-size: 20px;
}
form input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
}

::placeholder {
  color: rgba(250, 250, 250, 0.5);
}

form input[type="submit"] {
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 15px;
  background-color: var(--white);
  color: var(--black);
}

form input[type="submit"]:hover {
  cursor: pointer;
}
form input[type="submit"]:focus {
  outline: none;
}

/* - - -  SECTION 1. temperature and icon - - - */

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .temp {
  width: 40%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.temp #tempValue {
  font-size: 70px;
}

.temp span {
  font-size: 20px;
}

.temp a {
  text-decoration: none;
  color: var(--white);
  margin-left: 5px;
}
.temp a:hover,
.temp a:focus {
  color: var(--primary);
}

.temp {
  margin-left: 5px;
}

.temp ul {
  list-style: none;
  text-align: left;
}
section .icon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .icon img {
  width: 90%;
}

/* - - -  SECTION 2. city and weather information - - - */

section .city,
section .values {
  display: flex;
  width: 40%;
}

section .city {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.city #cityName {
  text-transform: uppercase;
  font-size: 30px;
}

.city #description {
  text-transform: capitalize;
}

.values li {
  list-style: none;
}

@media (max-width: 500px) {
  .temp,
  .icon,
  .city,
  .values {
    width: 50%;
    justify-content: space-around;
  }

  section {
    margin-bottom: 10px;
  }
  .city p,
  .values li {
    font-size: 15px;
  }

  .city {
    margin-left: 0px;
  }
}

/* - - -  FOOTER  - - - */

footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary);
  padding: 10px;
}

footer .forecast {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
}

footer .forecast p {
  padding: 5px;
}

footer .forecast img {
  width: 50px;
}

@media (max-width: 768px) {
  footer .forecast {
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
  }
  footer .forecast p {
    font-size: 15px;
  }

  footer .forecast i {
    font-size: 20px;
  }
}

/* - - -  LINKS - - - */

.links {
  margin: 0px;
  padding: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
}

.links .location {
  display: flex;
}

.links a,
.links p {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 5px;
}

.links a:hover {
  color: var(--secondary);
}
